<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PP4: Static Node App</title>
        <link rel="stylesheet" href="/css/home.css">
        <!-- All images are CC0 and were released by the original owners into the public domain.

        Video Games by JESHOOTS.com
        https://stocksnap.io/photo/video-games-YU7ENGR6EK
        
        Hiking Trail by Nicolas_T
        https://www.flickr.com/photos/14922165@N00/20418201326

        Movie Theater by Alex Doine
        https://commons.wikimedia.org/w/index.php?curid=153192559
        -->
    </head>
    <body>
        <header>
            <h1>Things We Have in Common</h1>
            <h2>By: Kabul Totakhil & Ash Gray</h2>
        </header>  
        <main>
            <section class="flex-container">
                <div class="box movie">
                    <img class="movie" src="images/watching-movies.jpg" alt="movie theater seats">
                    <p>Watching Movies</p>
                </div>
                <div class="box">
                    <img src="images/hiking.jpg" alt="a hiking trail">
                    <p>Going Hiking</p>
                </div>
                <div class="box">
                    <img src="images/video-games.jpg" alt="pov of playing video games">
                    <p>Playing Video Games</p>
                </div>
            </section>
        </main>
    </body>
</html>

