<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things in Common</title>
    <link rel="stylesheet" href="/css/home.css">
    <!-- All images are CC0 and were released by the original owners into the public domain.

    Video Games by JESHOOTS.com
    https://stocksnap.io/photo/video-games-YU7ENGR6EK
    
    Hiking Trail by Nicolas_T
    https://www.flickr.com/photos/14922165@N00/20418201326

    Movie Theater by Alex Doine
    https://commons.wikimedia.org/w/index.php?curid=153192559
    -->
</head>
<body>
    <header></header>
    <h1>Things We Have in Common</h1>
    <p>Your Names: Ash Gray & Kabul Totakhil</p>
    <section class="item1">  <!-- Video Games -->
        <img src="" alt="pov of playing video games">
        <p>Playing Video Games</p>
    </section>

    <section class="item2"> <!-- Hiking -->
        <img src="" alt="a hiking trail">
        <p>Going Hiking</p>
    </section>
    
    <section class="item3"> <!-- Watching Movies -->
        <img src="" alt="movie theater seats">
        <p>Watching Movies</p>
    </section>

</body>
</html>