

section{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.item1{
    
    display: flex;
    flex-direction: row;
    background-color: red;
    flex-wrap: wrap;
}


.item2{

    display: flex;
    background-color: green;
    flex-wrap: wrap;
}


.item3{
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
}
